.menu {
  background-color: darkblue;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
